openai==1.54.3
blobfile
fairscale
pandas
scipy
matplotlib
seaborn==0.9.0
protobuf==3.20.3
rich==13.5.2
fire
tiktoken
transformers==4.54.1
dtw-python
sentencepiece
scikit-learn
plotly
aiohttp
gym
httpx==0.27.2
sentence_transformers==3.2.1
websocket
websockets
# possibly openai==1.54.3
vllm==0.10.0 # incompatible with openai 1.54.3, but seems to work (vllm 0.10.0 requires openai<=1.90.0,>=1.87.0)
# possible numpy==1.21.6, though I get a weird error with this telling me install gymnasium?
# Please upgrade to Gymnasium, the maintained drop-in replacement of Gym, or contact the authors of your software and request that they upgrade.
# Users of this version of Gym should be able to simply replace 'import gym' with 'import gymnasium as gym' in the vast majority of cases.
# See the migration guide at https://gymnasium.farama.org/introduction/migration_guide/ for additional information.
# I didn't use to get this before upgrading to python==3.9
# which btw I had to do because I needed newer versions of the transformers library in order to use the Qwen3 models